@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&family=IBM+Plex+Mono:wght@100&family=Macondo&family=Quando&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
}
#myAvatar{
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
}
header{
    padding: 30px;
    background-color: #D96846;
}
nav h1{
    position: relative;
    top: 3px;
    left: 10px;
    color: #596235;
    font-size: 30px;
    font-family: 'Quando', serif;
}
nav span{
    position: relative;
    left: 10px;
    color: #CDCBD6;
    font-family: monospace;
    font-weight: bolder;
    font-size: 16px;
}
section{
    background-color: whitesmoke;
    text-align: center;
    padding: 30px;
    height: 430px;
}
h2{
    font-family: 'Changa', sans-serif;
    line-height: 30px;
    margin-bottom: 10px;
}
.para{
    line-height: 30px;
}
#meditate{
    width: 50px;
    border: #2F3020 solid;
    border-radius: 50%;
    background-color: #CDCBD6;
}
section p{
    color: #2F3020;
    font-family: 'Quando', serif;
    font-size: 16px;
}
#quote{
    font-family: monospace;
    font-size: 20px;
    margin-bottom: 20px;
}
#author{
    font-size: 22px;
    text-align: right !important;
    font-family: 'Satisfy';
    margin-top: 10px;

}
button{
    margin: 15px;
    outline: none;
    border: none;
    padding: 3px 10px;
    border-radius: 3px;
    box-shadow: 3px 3px #596235;
    cursor: pointer;
    color: black;
    background-color: #D96846;
    font-family: 'Changa', monospace;
    font-size: 18px;
    font-weight: bolder;
    
}
#quote-section{
    border: dotted;
    width: 40%;
    margin: 10px auto;
    padding: 10px;
}
footer{
    position: absolute;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    background-color: #2F3020;
    color: #CDCBD6;
    font-family: monospace;
}
footer img{
    width: 30px;
}
footer img:hover{
    border: #CDCBD6 solid;
    border-radius: 50%;
    border-width: 2px;
    padding: 3px;
}
#brand1{
    font-size: 20px;
}
#brand2{
    font-size: 14px;
}
#github{
    margin-right: 20px;
}
#brand{
    margin-left: 50px;
}
#logos{
    position: relative;
    float: right;
    margin-right: 50px;
    margin-top: 5px;
}
#brand, #logos{
    display: inline-block;
}